/* Variables */

:root {
    --Grayish-Navi: #373867;
    --Ligh-Grayish-Green: #AACE9B;
    --White : #FFFFFF;
}

/* Universal Selector */

* {
    box-sizing: border-box;
    color: var(--Grayish-Navi);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

/* Element-Selectors */

body {
    width: 100%;
    background-color: var(--White);
}

input {
    box-shadow: none;
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 601px) {

}


@media only screen and (min-width: 1025px) {
    body {
        width: 100%;
        background-color: var(--White);
        overflow-x: hidden;
    }
}