.login {
    display: none;
}

.home {
    display: block;
}
.signup {
    margin-bottom: 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 60vh;
    box-shadow: inset 0px 16px 24px rgba(0, 0, 0, 0.2);
}

.login-form {
    width: 80%;
}

.input-form {
    width: 100%;
}

.login-button {
    align-self: center;
}

@media only screen and (min-width: 601px) {

    .login-button {
        display: block;
    }
}

@media only screen and (min-width: 1025px) {

    .card-container {
        margin-top: 98px;
    }
}